.title{
  background-color: #e6e6e6;
  color: #2d0b3b
}

.remark-slide-content{
  font-size: 25px;
}

.page {
  background-color: #e6e6e6;
  color: #2d0b3b
}

body {
  background-color: #e6e6e6;
  color: #2d0b3b
}

a{
  color: rgb(34, 34, 241);
}

h2{
  margin-bottom: 2rem;
}

